<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Ask Overflow</a>
    </div>

    <form>
        <button type="button" class="btn btn-success"
                data-toggle="modal" data-target="#exampleModal">Ask a question</button>
    </form>
    </div>
</nav>