<div class="container">
  <% @questions.each do |q| %>
  <div class="media mt-3">
    <svg data-jdenticon-value="<%= q.gravatar %>" width="80" height="80">
        Fallback text or image for browsers not supporting inline svg.
    </svg>

    <!-- <img src="https://picsum.photos/150?image=0" class="mr-3 mb-3" alt="..."> -->
    <div class="media-body">
      <h5 class="mt-0"><%= q.email %> said:</h5>
      <div class="container">
        <h6>
          <%= time_ago_in_words q.created_at %>
        </h6>
        <%= q.body %>
      </div>
      <!-- <div>
        <a href="/questions/12" class="btn btn-success btn-xs">View Answers</a>
      </div> -->
    </div>
  </div>
  <% end %>
</div>