<div class="container">

    <div class="card mt-5">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

            <div class="media mt-3">
                <img src="https://picsum.photos/150?image=0" class="mr-3 mb-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">Question</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                    purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                    vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>

            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div>
        <a href="/questions/12" class="btn btn-success btn-xs" data-toggle="modal" data-target="#new-answer-modal">Submit
            an Answer</a>
    </div>

    <%= render 'home/new_answer_form' %>

    <!-- ANSWERS -->

    <div class="media mt-3">
        <img src="https://picsum.photos/150?image=0" class="mr-3 mb-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0">Answer 1</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
            odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
            fringilla. Donec lacinia congue felis in faucibus.
        </div>
    </div>

    <div class="media">
        <img src="https://picsum.photos/150?image=1" class="mr-3 mb-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0">Answer 1</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
            odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
            fringilla. Donec lacinia congue felis in faucibus.
        </div>
    </div>

    <div class="media">
        <img src="https://picsum.photos/150?image=2" class="mr-3 mb-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0">Answer 1</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
            odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
            fringilla. Donec lacinia congue felis in faucibus.
        </div>
    </div>

</div>